@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: url('./fonts/Ubuntu-Regular.ttf') format("ttf");
  }
  @font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: url('./fonts/Ubuntu-Medium.ttf') format("ttf");
  }
  @font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    src: url('./fonts/Ubuntu-Bold.ttf') format("ttf");
  }

  html, body, #root, #root > div {
    height: 100%;
  }
}